@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .__input {
    @apply outline-none border border-slate-200 rounded-lg w-full focus:bg-white focus:border-primary duration-200 bg-white px-4 py-3;
  }
  .__btn {
    @apply w-full outline-none bg-primary rounded-lg text-white text-center px-6 py-3 hover:bg-primary-dark duration-200;
  }
  .__btn_gray {
    @apply bg-gray-100 text-gray-900 hover:bg-gray-200;
  }
}

.slide-in {
  animation: slide-in 0.2s ease-in;
}
.slide-out {
  animation: slide-out 0.2s ease-in;
}

@keyframes slide-in {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(15px);
    opacity: 0;
  }
}
